<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aniXification.asrandroiduserinterface"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.CALL_PHONE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CAMERA" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_CONTACTS" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InputControlsActivity"
            android:label="@string/title_activity_input_controls" >
        </activity>
        <activity
            android:name=".NotificationActivity"
            android:label="@string/title_activity_notification" >
        </activity>
        <activity
            android:name=".lifecycle.ActivityA"
            android:launchMode="singleTask" >
        </activity>
        <activity android:name=".lifecycle.ActivityB" />
        <activity android:name=".lifecycle.ActivityC" />
        <activity
            android:name=".lifecycle.DialogActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".intent.IntentMainActivity"
            android:label="@string/title_activity_intent_main" >
        </activity>
        <activity
            android:name=".intent.NewActivity"
            android:label="@string/title_activity_new" >
        </activity>
        <activity
            android:name=".intent.PassDataActivity"
            android:label="@string/title_activity_pass_data" >
        </activity>
        <activity
            android:name=".GetDataActivity"
            android:label="@string/title_activity_get_data" >
        </activity>
        <activity
            android:name=".LogcatActivity"
            android:label="@string/title_activity_logcat" >
        </activity>
        <activity
            android:name=".RelativeLayoutActivity"
            android:label="@string/title_activity_relative_layout" >
        </activity>
        <activity
            android:name=".AsynTaskActivity"
            android:label="@string/title_activity_asyn_task" >
        </activity>
        <activity
            android:name=".CheckInternetConnection"
            android:label="@string/title_activity_check_internet_connection" >
        </activity>
        <activity
            android:name=".WbservicesExample"
            android:label="@string/title_activity_wbservices_example" >
        </activity>
        <activity
            android:name=".WbServicesItemListActivity"
            android:label="@string/title_activity_wb_services_detail" >
        </activity>
    </application>

</manifest>